.bar {
    background-color: #af7eeb;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

.todo-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.todo-list {
    width: 100%;
    margin-top: 20px
}

.works {

flex-direction: row;
}

.todo-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #af7eeb;
    align-items: center;
    padding: 0 20px;
    height: 40px;
    border-radius: 4px;
    margin-top: 4px;
}

.todo-add-btn {
    background-color: #af7eeb;
    color: white;
    border: 2px solid #af7eeb;
    padding: 10px 20px;
    margin-top: 12px;
    width: 300px;
    font-size: 16px;
    border-color: #af7eeb;
}

.todo-task-title {
    color: antiquewhite;
}
.input-field {
    width: 1200px;
    margin-left: 40px;
    height: 40px;
    align-self: center;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
    border-color: #af7eeb;
}

.add-todo {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.border {
    border-width: 10px solid black;
    height: 5px;
    width: 5px;
    align-items: center;
    align-self: center;
}

.img-but {
    display: flex;
    flex-direction: "row";
    align-items: center;
    width: 100px;
    justify-content:space-between;
}

