.wrapper {
    width: 500px;
    background-color: black;
    height: 880px;
    border-radius: 40px;

}


.Inputt {
    background-color: black;
    height: 200px;
    width: 493px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    font-size: 90px;
    text-align: right;
    color: white;
    border-bottom-color: black; 
    border: none;
       
}

/* #answer{
    background-color: #af7eeb;
    padding: 10px;
    color: azure;
    font-size: 35px;
    width:295px;
    height: 45px;
    border-radius: 10px;
    text-align: right;
    border: 3px solid #af7eeb;
} */

.button {

    background-color: #313131;
    height: 105px;
    width: 105px;
    color: white;
    font-size: 50px;
    border-radius: 50px;
    float: left;
    margin: 10px; 
}
.button2{
    background-color: #f69905;
    height: 105px;
    width: 105px;
    color: white;
    font-size: 50px;
    border-radius: 50px;
    float: left;
    margin: 10px; 
}
.button1{
width: 230px; 
}